#canvas {
  background-size: 100%;
}
.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.custom_button {
  margin-bottom: 8%;
}
.margin_custom {
  margin-bottom: 15%;
}
